<template>
  <div>
      <div class="list">
        <div class="product" v-for="product in products">
          <h2 class="title">{{ product.name }}</h2>
          <span class="add" @click="addToCart()">Dodaj do koszyka</span>
        </div>
      </div>
      <div class="cart">
          <h2 class="title">Koszyk</h2>
          <div class="total">
            Suma: {{ total }} zł
          </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'Cart',
  data () {
    return {
      total: 0,
      products: [
        { name: 'Samsung Galaxy S8' },
        { name: 'Apple Iphone 7' },
        { name: 'Xiaomi MI6' }
      ],
      cart: []
    }
  },
  methods: {
    addToCart: function(index) {
      this.total += 1000
    }
  }
}
</script>

<style lang="scss" scoped>

$cl-primary: #2c3e50;
$cl-secondary: #42b983;
$cl-white: #fff;
$cl-whiteF8: #f8f8f8;

h1, h2 {
  font-weight: normal;
  margin-top: 0;
}
.list {
  width: 60%;
  margin: 30px 0;
  display: inline-block;
  vertical-align: top;
  .product {
    background-color: $cl-whiteF8;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    border-radius: 5px;
    .add {
      display: inline-block;
      color: $cl-white;
      background-color: $cl-secondary;
      padding: 10px;
      border-radius: 5px;
      &:hover {
        background-color: $cl-primary;
        cursor: pointer;
        transition: .3s all;
      }
    }
  }
}
.cart {
  width: 33%;
  display: inline-block;
  background-color: $cl-primary;
  color: $cl-white;
  margin: 30px 0;
  padding: 15px;
  border-radius: 5px;
  .title {
    padding-bottom: 20px;
    border-bottom: 1px solid $cl-white;
  }
  .placeholder {
    padding-bottom: 10px;
  }
  .products {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid $cl-white;
      .product {
        margin-bottom: 10px;
        .information {
          display: inline-block;
          min-width: 55%;
        }
        .price {
          float: right;
        }
        .increment,
        .decrement {
          background-color: $cl-secondary;
          font-weight: bold;
          display: inline-block;
          width: 22px;
          text-align: center;
          border-radius: 2px;
          transition: .3s all;
          &:hover {
            background-color: $cl-white;
            color: $cl-primary;
            cursor: pointer;
          }

        }
      }
  }
  .total {
    font-weight: bold;
    background-color: $cl-secondary;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
  }
}
</style>
