<template>
  <div id="app">
    <header class="header">
      <img src="./assets/logo.png" class="logo"> <span>VUE WORKSHOPS #1</span>
    </header>
    <cart></cart>
  </div>
</template>

<script>
import Cart from './components/Cart'

export default {
  name: 'app',
  components: {
    Cart
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 30px;
}
.header {
  border-bottom: 1px solid #2c3e50;
  padding-bottom: 30px;
}
.logo {
  max-width: 40px;
  vertical-align: middle;
}
</style>
